{% extends 'base.html' %}
{% load static %}

{% block body %}

  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span><a href="{% url 'property:property_list' %}">Properties</a></span>{{property_detail}}
              </div>
              <h1>Properties</h1>
            </div>


          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
      
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{property_detail.image.url}}" class="img-responsive" alt="house pic"></p>
          <a href="https://icedrive.net/1/02aIfTIj8z"> کلیک برای دیدن خانه ها</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>اطلاعات مسکن</h2>
          <p>فروش یا اجاره{{property_detail.property_type}} برای خریدs </p>
          <p>متراژ {{property_detail.area}}</p>
          <p>تعداد اتاق{{property_detail.beds_number}}</p>
          <p>تعداد سرویس بهداشتی{{property_detail.baths_number}}</p>
          <p>تعداد جای پارک{{property_detail.garages_number}}</p>

        </div>

      </div>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
      
      </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <center>رزو کردن فرست خرید یا اجاره</center>
          <form action="" method="POST">
            {% csrf_token %}
          {{reserve_form}}
          <button type = "submit" class="btn btn-primary">بارگذاری</button>

        </div>

      </div>
    </div>
  </section>




{% endblock body %}
 